.iphone_select{
    margin-bottom: 10px;
}
#iphone_list,#iphone_pay,#iphone_pay_info{
    text-align: center;
}
#iphone_list{
    padding: 15px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
#iphone_pay{
    padding: 15px;
    text-align: left;
}
#iphone_pay_info{
    color: #4caf50;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
#iphone_list_lines{
    height: 280px;
    overflow-y: auto;
}

#iphone_list_lines_top{
    margin-left: 20px;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 5px;
}

#iphone_list_lines_bottom{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}
#iphone_list_info{
    padding: 0 20px;
    position: relative;
}
#iphone_list_info>img{
    border-radius: 3px;
}
#iphone_list_info>span{
    position: absolute;
    top: 2px;
    left: 80px;
    font-size: 18px;
    font-weight: bolder;
}
#iphone_list_info>p{
    position: absolute;
    left: 80px;
    top: 12px;
    font-size: 16px;
    color: #999;
}
.img_plus_01{
    background-image:url(http://image.hotpoor.org/0cd8429c1da249b6935d7eef72d7fc0b_2efe227d2164960c9259b35241a41a70?imageView2);
    background-size: cover;;
    background-repeat: no-repeat;
    background-position: top left;
    width:200px;
    height:183px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.img_plus_02{
    background-image:url(http://image.hotpoor.org/0cd8429c1da249b6935d7eef72d7fc0b_f436a7be2a956a1deb8e9fb9071aae68?imageView2);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    width:100%;
    height:100px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.i_want_order{
    width: 200px;
    background: gray;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
    margin-left: 20px;
}

span.u_price {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #f0121a;
    font-weight: bold;
    font-size: 16px;
}
span.nt_name {
    margin-right: 5px;
}
span.nt_time {
    color: #999;
}
.iphone_list_line>p.u_content {
    margin: 0;
    position: absolute;
    left: 42px;
    top: 18px;
    font-size: 16px;
    color: #696969;
}
.iphone_kan_all{
    position: absolute;
    right: 0px;
    color: #f0121a;
    font-weight: bolder;
    font-size: 22px;
    margin-right: 20px;
}

#iphone_kan_cover{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f2f2f2;
    background-image: url(http://image.hotpoor.org/2dd2c53e7c654c66b398e574848d4c34_e714c8490b890981ce68887d0da5b607?imageView2/2/w/380);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 260px;
}
.iphone_kan_btn{
    margin-top: 80px;
    background: url(http://image.hotpoor.org/2dd2c53e7c654c66b398e574848d4c34_403b861211f57479aed5148d599610b6?imageView2);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 200px;
    height: 124px;
    cursor: pointer;
    border: 0;
}

.iphone_kan_btn_animate
{
animation: myfirst 1s infinite linear;
-moz-animation: myfirst 1s infinite linear; /* Firefox */
-webkit-animation: myfirst 1s infinite linear;  /* Safari 和 Chrome */
-o-animation: myfirst 1s infinite linear;   /* Opera */
}
@keyframes myfirst
{
0%   {transform: rotate(0deg);}
25%  {transform: rotate(30deg);}
50%  {transform: rotate(0deg);}
100% {transform: rotate(-30deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {-moz-transform: rotate(0deg);}
25%  {-moz-transform: rotate(30deg);}
50%  {-moz-transform: rotate(0deg);}
100% {-moz-transform: rotate(-30deg);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0%   {-webkit-transform: rotate(0deg);}
25%  {-webkit-transform: rotate(30deg);}
50%  {-webkit-transform: rotate(0deg);}
100% {-webkit-transform: rotate(-30deg);}
}

@-o-keyframes myfirst /* Opera */
{
0%   {-o-transform: rotate(0deg);}
25%  {-o-transform: rotate(30deg);}
50%  {-o-transform: rotate(0deg);}
100% {-o-transform: rotate(-30deg);}
}




.iphone_list_line>p.n_and_t {
    position: absolute;
    left: 42px;
    top: 0px;
    margin: 0;
    font-size: 14px;
}

.iphone_list_line{
    width: 98%;
    max-width: 310px;
    text-align: left;
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
}
.iphone_list_line>img{
    width: 36px;
    height: 36px;
    border-radius: 2px;
}
.iphone_pay_50{
    border: 0;
    border-radius: 4px;
    width: 70%;
    max-width: 300px;
    height: 60px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    background: #4caf50;
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    cursor: pointer;
}
.select_btn{
    border: 0;
    border-radius: 4px;
    width: 25%;
    max-width: 280px;
    height: 40px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    background: #f7f7f7;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.select_color_btn{
    border: 0;
    border-radius: 4px;
    width: 25%;
    max-width: 280px;
    height: 40px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    background: #f7f7f7;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.select_size_btn{
    border: 0;
    border-radius: 4px;
    width: 25%;
    max-width: 280px;
    height: 40px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    background: #f7f7f7;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.select_btn_now{
    opacity: 1;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}

#js_code_edit{
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 26px;
    width: 300px;
    height: 280px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
}
#js_code_edit_area{
    width: 90%;
    padding: 3%;
    margin: 2%;
    border: 0;
    color: lime;
    background: rgba(0,0,0,0.8);
    resize: none;
    height: 200px;
    border-radius: 10px 10px 4px 4px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.js_code_edit_send_btn {
    width: 42%;
    height: 30px;
    border: 0;
    margin: 5px 4%;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.16);
    cursor: pointer;
}
#js_code_edit_send_local{
    background: #03A9F4;
}
#js_code_edit_send_all{
    background: #FF5722;
}
.js_print{
    z-index: 2;
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 200px;
    width: 80%;
    max-width: 300px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.16);
}