#js_code_edit{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 300px;
    height: 280px;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.26); 
}